---
layout: default
title: Calculator
---

{% assign ordered_options = site.data.options | sort: "value" | sort: "weight" | sort: "type" | reverse %}

<h1>Voting Calculator</h1>
<a href="{% link index.html %}" class="back-link">← Back</a>
<div class="input-group">
    <label for="vote-input">Votes:</label>
    <input id="vote-input" class="number-input" type="number"/>
</div>
<div class="input-group">
    <label for="vote-input">Include Wills:</label>
    <input id="include-will-input" type="checkbox" checked/>
</div>
<table id="voting-table" class="voting-table">
    <tr>
        <th>Option</th>
        <th>Target</th>
        <th>Type</th>
        <th>Votes</th>
    </tr>
    {% for option in ordered_options %}        
        {% if option.weight > 0 %}
            <tr>
                <td>{{option.name}}</td>
                <td>{{option.target | default: 'N/A'}}</td>
                <td>{{option.type}}</td>
                <td><strong id="votes-{{ forloop.index }}">0</strong></td>
            </tr>
        {% endif %} 
    {% endfor %}
</table>

<div class="info">
    Once you're done voting, please record your results <a href="{{ site.data.settings['season'].formUrl }}">here</a> to help us plan for future seasons!
</div>  

<script>
    const weightings = [
        {% for option in ordered_options %}        
            {% if option.weight > 0 %}
                {
                    "id": {{ forloop.index }},
                    "weight": {{ option.weight }},
                    "type": "{{ option.type }}"
                },
            {% endif %} 
        {% endfor %}
    ];

    const typeWeightings = {
        blessing: {{ site.data.settings['season'].blessingWeighting }},
        will: {{ site.data.settings['season'].willWeighting }}
    };
    
    const input = document.getElementById('vote-input');
    input.addEventListener('change', updateVotes);
    const checkbox = document.getElementById('include-will-input');
    checkbox.addEventListener('change', updateWills);

    let votes = 0;
    let includeWills = true;

    function updateVotes(e) {        
        votes = parseInt(e.target.value);
        refresh();
    }

    function updateWills(e) {        
        includeWills = e.target.checked;
        refresh();
    }

    function refresh() {
        if (isNaN(votes) || votes <= 0) {
            weightings.forEach(entry => {
                setField(entry.id, 0)
            });
            return;
        }
        const totalWillWeight = weightings.filter(entry => entry.type == "Will")
            .reduce((total, weighting) => total + weighting.weight, 0);
        const totalBlessingWeight = weightings.filter(entry => entry.type == "Blessing")
            .reduce((total, weighting) => total + weighting.weight, 0);

        const adjustedWeightings = [];

        weightings.forEach(entry => {
            let adjustedEntry = {};
            adjustedEntry.weight = entry.type == "Will"
                ? typeWeightings.will * (entry.weight / totalWillWeight)
                : typeWeightings.blessing * (entry.weight / totalBlessingWeight);
            adjustedEntry.type = entry.type;
            adjustedEntry.id = entry.id;
            adjustedWeightings.push(adjustedEntry);
        });

        const validWeightings = includeWills
            ? adjustedWeightings
            : adjustedWeightings.filter(entry => entry.type != "Will");
        const totalWeight = validWeightings.reduce((total, weighting) => total + weighting.weight, 0);

        voteCounts = {};
        remainders = {};
        adjustedWeightings.forEach(entry => {
            if (!validWeightings.includes(entry)) {
                voteCounts[entry.id] = 0;
                return;
            }
            const voteShare = votes * entry.weight / totalWeight;
            voteCounts[entry.id] = Math.floor(voteShare);
            remainders[entry.id] = voteShare - voteCounts[entry.id];
        });

        let remainingVotes = votes - sumEntries(voteCounts);
        const orderedRemainders = Object.entries(remainders).sort((a, b) => b[1] - a[1]);
        for (const [id, remainder] of orderedRemainders) {
            if (remainingVotes <= 0) {
                break;
            }
            voteCounts[id] += 1;
            remainingVotes -= 1;
        }

        weightings.forEach(entry => {
            setField(entry.id, voteCounts[entry.id])
        });
    }

    function setField(id, value) {
        const voteCountField = document.getElementById('votes-' + id);
        voteCountField.innerHTML = value;
    }

    function sumEntries(target) {
        return Object.values(target).reduce((a, b) => a + b);
    }
</script>