.chance-1 {
    color: orange;
}

.chance-2 {
    color: goldenrod;
}

.chance-3 {
    color: rgb(87, 117, 28);
}

.value-0 {
    color: grey;
}

.value-1 {
    color: darkred;
}

.value-2 {
    color: darkorange;
}

.value-3 {
    color: gold;
}

.value-4 {
    color: rgb(87, 117, 28);
}

.value-5 {
    color: darkgreen;
}