.chance-1 {
    color: red;
}

.chance-2 {
    color: yellow;
}

.chance-3 {
    color: green;
}

.value-1 {
    color: red;
}

.value-2 {
    color: orange;
}

.value-3 {
    color: yellow;
}

.value-4 {
    color: yellowgreen;
}

.value-5 {
    color: green;
}