---
layout: page
title: Election Ratings
---

{% assign total_weight = 0 %}
{% for option in site.data.options %}
  {% assign total_weight = total_weight | plus: option.weight %}
{% endfor %}

<h1>Election Ratings (Season {{ site.data.settings["season"].number }})</h1>
<a href="{% link index.html %}" class="back-link">← Back</a>
{% if site.data.settings["season"].finalised == 0  %}
  <div class="warning">The season is still in progress, and a lot can change during a game of Blaseball. If possible, we recommend waiting until the weekend before voting, to avoid being caught out!</div>
{% endif %}

{% assign ordered_options = site.data.options | sort: "value" | sort: "weight" | reverse | sort: "type" %}
{% for option in ordered_options %}
  <h3>{{option.name}}</h3>
  <div class="value-{{option.value}}">Value: 
    <strong>
      {% case option.value %}
        {% when 0 %}
            Under Evaluation
        {% when 1 %}
            Harmful
        {% when 2 %}
            None
        {% when 3 %}
            Low
        {% when 4 %}
            Medium
        {% when 5 %}
            High
      {% endcase %}
    </strong>
  </div>
  {% if option.type == "Blessing" and option.value != 0 %}
    <div class="chance-{{option.chance}}">Chance of Winning:  
      <strong>
        {% case option.chance %}
          {% when 0 %}
              Not Assessed
          {% when 1 %}
              Low
          {% when 2 %}
              Medium
          {% when 3 %}
              High
        {% endcase %}
      </strong>
    </div>
  {% endif %}
  {% if option.weight > 0 %}
    <div class="vote-share">
      Recommended vote share: <strong>{{option.weight | times: 100.0 | divided_by: total_weight | round}}%</strong><br/>
    </div>
  {% endif %}
  {% if option.definition %}
    <br/>
    <em>{{option.definition}}</em>
  {% endif %}

  {% if option.review %}
    <br/>
    {{option.review}}
  {% endif %}
  <hr/>
{% endfor %}

{% if site.data.settings["season"].finalised != 0 %}
  <div class="info">
    Looking for help dividing up your votes? Try the <a href="{% link calculator.html %}">voting calculator</a>.
    Once you're done voting, please record your results <a href="{{ site.data.settings['season'].formUrl }}">here</a> to help us plan for future seasons!
  </div>  
{% endif %}