---
layout: default
title: Strategies
---

<h1>Proposed Strategies</h1>
<a href="{% link index.html %}" class="back-link">← Back</a>

{% if site.data.settings["season"].strategyFormUrl %}
  We're currently gathering strategies for this season. Feel free to submit your ideas <a href="{{ site.data.settings["season"].strategyFormUrl }}">here</a>.
{% endif %}

{% if site.data.settings["season"].strategyPollUrl %}
  We also have <a href="{{ site.data.settings["season"].strategyPollUrl }}">a poll</a> to gauge interest in the options suggested so far.
{% endif %}

{% for strategy in site.data.strategies %}
    <h3>{{strategy.name}}</h3>
    <div>Owner: <strong>{{strategy.owner}}</strong></div>
    <p>{{strategy.description}}</p>

    {% if strategy.imageUrl %}
        <img alt="A graphic representing the {{strategy.name}} plan" src="{{ strategy.imageUrl }}">
    {% endif %}
    {% for detailed_description in strategy.details %}
        {% if detailed_description.forbiddenKnowledgeWarning %}
            <details>
                <summary>Forbidden Knowledge: {{detailed_description.forbiddenKnowledgeWarning}}</summary>
                {{detailed_description.text}}
            </details>
        {% else %}
        <p>{{detailed_description.text}}</p>
        {% endif %}
    {% endfor %}
    {% if strategy.pros %}
      <h4>Pros:</h4>
      <ul class="positive">
        {% for pro in strategy.pros %}
            <li>{{pro.text}}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if strategy.cons %}
      <h4>Cons:</h4>
      <ul class="negative">
        {% for con in strategy.cons %}
            <li>{{con.text}}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <table class="strategy-table">
        <tr>
            <th>Option</th>
            <th>Type</th>
            <th>Target</th>
            <th>Value</th>
            <th>Chance of Winning</th>
        </tr>
        {% for strat_option in strategy.options %} 
            {% for option in site.data.options %} 
                {% if option.key == strat_option.key %}
                    <tr>
                        <td>{{option.name}}</td>
                        <td>{{option.type}}</td>
                        {% if strat_option.target %}
                            <td class="target-present">
                                {{strat_option.target}}
                            </td>
                        {% else %}
                            <td class="target-absent">
                                N/A
                            </td>
                        {% endif %}
                        <td class="value-{{option.value}}">
                            <strong>
                                {% case option.value %}
                                    {% when 0 %}
                                        Under Evaluation
                                    {% when 1 %}
                                        Harmful
                                    {% when 2 %}
                                        None
                                    {% when 3 %}
                                        Low
                                    {% when 4 %}
                                        Medium
                                    {% when 5 %}
                                        High
                                    {% else %}
                                        {% if option.type != "Blessing" %}
                                            N/A
                                        {% else %}
                                            Under Evaluation
                                        {% endif %}
                                {% endcase %}
                            </strong>
                        </td>
                        <td class="chance-{{option.chance | default : 0}}">
                            <strong>
                                {% case option.chance %}
                                    {% when 0 %}
                                        Not Assessed
                                    {% when 1 %}
                                        Low
                                    {% when 2 %}
                                        Medium
                                    {% when 3 %}
                                        High
                                    {% else %}
                                        {% if option.type != "Blessing" %}
                                            N/A
                                        {% else %}
                                            Under Evaluation
                                        {% endif %}
                                {% endcase %}
                            </strong>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
    <hr/>
{% endfor %}