ul {    
  list-style: none;
}

li {
    padding-left: 1rem;
    text-indent: -0.7rem;
}

li::before {
    content: "⚙️ ";
}

.warning {
    border-radius: 5px;
    padding: 10px;
    background: lightyellow;
    border: 1px solid goldenrod;
}

.info {
    border-radius: 5px;
    padding: 10px;
    background: lightcyan;
    border: 1px solid skyblue;
}

.back-link {
    margin-top: -20px;
    margin-bottom: 15px;
    display: block;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    padding-right: 10px;
    font-weight: bold;
}

.input-group .number-input {
    border-radius: 10px;
    padding: 5px;
    border: 1px solid gray;
    width: 250px;    
    text-align: right;
}

.markdown-body table.voting-table {
    display: table;
}

.warning::before {
    content: "⚠️";
}

.chance-1 {
    color: darkorange;
}

.chance-2 {
    color: darkgoldenrod;
}

.chance-3 {
    color: rgb(87, 117, 28);
}

.value-0 {
    color: grey;
}

.value-1 {
    color: darkred;
}

.value-2 {
    color: darkorange;
}

.value-3 {
    color: darkgoldenrod;
}

.value-4 {
    color: rgb(87, 117, 28);
}

.value-5 {
    color: darkgreen;
}